.user-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;

    .user-list-item {
        margin-bottom: 5px;

        .user-link {
            display: flex;
            align-items: center;
            justify-content: left;
            border: 1px solid #F1F1F1;
            border-radius: 2px;
            padding: 10px 10px;
            color: #414F63;

            &:hover {
                text-decoration: none;
                background-color: #E0F0FA;
            }

            &.active {
                background-color: #E0F0FA;
            }

            .user-icon {
                width: 35px;
                height: 35px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                margin-right: 10px;
                background-color: #dedab7;

                &:nth-child(even) {
                    background-color: #d3dee8;
                }
            }

            .name-role {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .name {
                    font-weight: 600;
                    font-size: 14px;
                }

                .role {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        &:nth-child(even) {
            .user-link {
                .user-icon {
                    background-color: #d3dee8;
                }
            }
        }
    }
}